---
import BallsAnimation from "@/components/BallsAnimation";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<div>
		<BallsAnimation client:only="react" />
	</div>
</BaseLayout>

<style>
	div {
		height: 100vh;
	}
</style>
